.card-list{
  display: flex;
  justify-content: space-between;
}

.card-list__item{
  font-family: $ff-roboto;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
}

.card-list__item-title{
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 65px;
  margin-bottom: 11px;
}

.card-list__item-description{
  font-weight: 300;
  margin-bottom: 12px;
}

.card-list__item-price{
  color: #E8E8E8;
  font-size: 100px;
  font-weight: 700;
  min-height: 150px;
}
