.header{
  display: flex;
  justify-content: space-between;
  padding: 30px 103px;
  min-height: 86px;
  background: linear-gradient(90deg, #1C3477 0%, #1C3477 0.01%, #1A3578 39.11%, #73184B 75.5%, #B4022A 100%);
}
