.hero-block{
  display: flex;
  flex-direction: column;
  text-align: right;
  color: $color-default-white ;
  font-family: $ff-placeholder;
}

.hero-block__city{
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 10px;
  text-transform: uppercase ;
}

.hero-block__center{
  font-size: 92px;
  font-weight: 800;
  line-height: 110px;
  text-transform: uppercase;
  width: 270px;
  margin-bottom: 50px;
}
