// .jury-slider__wrapper{
//   display: flex;
//   justify-content: space-between ;
// }


.jury-slider__btn{
  background-color: $color-default-white;
  border: none;
  // position: absolute;
  // top: 223px

}

.jury-slider__slider{
  position: relative;

}

// .swiper-button-next{
//   right: 37px;
// }


// .swiper-button-prev{
//   left: 37px;
// }
